<form  action="{{ path('urun_ekle') }}" method="post" >



Ürün Adı
 <input type="text"  name="name"><br><br>

 <button type="submit" class="btn btn-primary">Ürün Ekle</button>

</form>

<style>
 table, th, td {
  border: 1px solid black;
 }
</style>
<table>
Product
 <tr>
  <th>Product Name</th>


 </tr>
 {% for p in product %}
  <tr>

   <td>{{ p.name }}</td>




  </tr>
 {% endfor %}
</table>