<form  action="{{ path('uye_ekle') }}" method="post" >



Username
 <input type="text"  name="username"><br><br>

 <button type="submit" class="btn btn-primary">Uye Ekle</button>

</form>

<style>
 table, th, td {
  border: 1px solid black;
 }
</style>
<table>
 Userler
 <tr>
  <th>username</th>



 </tr>
 {% for u in user %}
  <tr>

   <td>{{ u.username }}</td>




  </tr>
 {% endfor %}
</table>